{% extends "layout.html" %}
{% block title %}- {{ name }}{% endblock %}
{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>{{ name }}</h1>
                        <p>This site can stock your favorite Miaou-Picture !</p>
                        <img src="/static/img/nyancat.gif" class="gif" alt="Loading" title="Loading"/>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
