{% extends "layout.html" %}
{% block title %}- {{ name }}{% endblock %}
{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
	<article>
    <section>
    <h1>MiaouGallery Privacy Policy</h1>
    <p>We are committed to protecting your privacy and personal data. Therefore, we use your personal data strictly within the legal limits of the applicable data protection laws. With this privacy policy, we inform you of the personal data we collect when you use our services.</p>
    
    <p>
    MiaouGallery collects and uses your personal data exclusively within their ExifAnalyzer tool.
    You can access this information at any time on our website, <a href="/nope">here</a>.</p>

    <h2>1. Data controller/Contact</h2>
    <p>The data controller responsible for data processing within the meaning of the General Data Protection Regulation, other data protection laws in force in the Member States of the European Union, and other provisions of a data protection nature.</p>
    
    <h2>2. Scope of data protection</h2>
    <p>Data protection concerns personal data as defined in the General Data Protection Regulation, i.e. all information relating to an identified or identifiable natural person.
    Usage data is data required to use our website; this data includes the start, end, and extent of the user’s website use.</p>
    
    <h2>3. Automatic data collection via image uploading</h2>
    <p>When you upload on our website, your device automatically transmits certain data for 'technical' reasons. The following data is stored separately from any other data you may transmit to us:</p>
    <ul>
        <li>General Images Database 'image' : Filename, Artist, Copyright, User_id, VerySecretThing, OriginalDate and UploadDate.</li>
        <li>Extension Exif Database 'imageUniqueID' : Filename, User_id, ImageUniqueID.</li>
    </ul>
    <p>This data is stored for purely technical reasons and is never associated with any particular individual.</p>
    
    <h2>4. Your rights</h2>

    <p>You have the following rights under European Union law. If you wish to exercise any of the rights below, simply write to us at the above address.
        <ul>
            <li> Right to confirmation and right to information - we will be happy to confirm whether we process your personal data, what data it is and for what purpose it is processed.
            <li> Right to rectification - if the data we store is incorrect, we will of course be happy to correct it.
            <li> Right of erasure - if you want your personal data to be deleted, we will, as far as legally possible, comply with your request.
            If data must be kept for legal reasons, it will be blocked. The data is then no longer available for further use.

            <li> Right to restriction of processing - should you wish to restrict use, we will, as far as legally possible, comply with your request.
            <li> Right to object - if you wish to object to any consents already given, we will pursue your request accordingly.
        </ul>

        <p>You also have the right to lodge a complaint to a supervisory authority about the processing of your personal data.
    </p>
    
    <h2>5. Changes to privacy policy</h2>
    <p>Last updated: 30 June 2019</p>
</section>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
